.homeContainer{
    margin-left: 15%;
    margin-top: 5%;
}

.search {
    width: 80%;
    display: grid;
    grid-template-columns: 50% 50%;
  }

  button#clearSearch{
    margin-left: 30px;
    height: 30px;
    margin-top: 5px;
    width: 80%;
    color: white;
    font-weight: 800;
    background-color: red;
    border: none;
    border-radius: 5px;
  }

  button#clearSearch:hover{
    cursor: pointer;
  }
  
  .searchTerm {
    width: 100%;
    /* border: 3px solid #FF0000; */
    border-right: none;
    padding: 5px;
    height: 30px;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #FF0000;
  }
  
  .searchTerm:focus{
    color: #FF0000;
  }
  
  .searchButton {
    width: 40px;
    height: 30px;
    border: 1px solid #FF0000;
    background: #FF0000;
    text-align: center;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  /*Resize the wrap to see the search bar change!*/
  .wrap{
    width: 30%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

/* .trendingTopics{
    border: 1px solid tomato;
} */

@media only screen and (max-width: 700px) {
  .search {
    width: 100%;
    display: grid;
    grid-template-columns: 100% 
  }
  button#clearSearch{
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 12px;
  }
  input.searchTerm{
    width: 80%;
    margin-bottom: 8px;
    
  }
  
  .exploreContainer h1{
    text-align: center;
    width: 85%;
  }
}
