.questionItem{
    width: 80%;
    border: 1px solid tomato;
    border-radius: 10px;
    margin-bottom: 12px;
    max-height: 150px;
}

.questionItem p{
    padding-left: 10px;
    padding-top: 0px;
    margin: 6px;
}

p#questionTitle{
    font-weight: 700;

}


@media only screen and (max-width: 700px){
    p#questionBody{
     /* max-height  : 3rem; */
     display: inline-block;
     display: -webkit-box;
     max-width: 400px;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
     
            
    }

    /* p#questionBody{
    max-height: 4rem;      
    } */

    p#questionTitle{
     display: inline-block;
     display: -webkit-box;
     max-width: 400px;
     -webkit-line-clamp: 3;
     -webkit-box-orient: vertical;
     overflow: hidden;
     text-overflow: ellipsis;
    }
}