nav{
    margin-top: 20px;
    margin-left: 20px;
}

nav div{   
    color: red;
    font-size: 1.2rem;
    font-weight: 500;
}

a:link{
    text-decoration: none;
}

#logo{
    font-size: 25px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 900;
    text-align: center;
    width: 100%;
}

span#division{
    text-align: center;
    display: grid;
    grid-template-columns: 22% 30% 22% 25%;
}

@media only screen and (max-width: 700px){
    #logo{
        display: inline-block; 
    }
}
